/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto//roboto-v20-latin_cyrillic-regular.eot");
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto//roboto-v20-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto//roboto-v20-latin_cyrillic-regular.woff2")
      format("woff2"),
    url("../fonts/roboto//roboto-v20-latin_cyrillic-regular.woff")
      format("woff"),
    url("../fonts/roboto//roboto-v20-latin_cyrillic-regular.ttf")
      format("truetype"),
    url("../fonts/roboto//roboto-v20-latin_cyrillic-regular.svg#Roboto")
      format("svg");
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto//roboto-v20-latin_cyrillic-500.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/roboto//roboto-v20-latin_cyrillic-500.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto//roboto-v20-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/roboto//roboto-v20-latin_cyrillic-500.woff") format("woff"),
    url("../fonts/roboto//roboto-v20-latin_cyrillic-500.ttf") format("truetype"),
    url("../fonts/roboto//roboto-v20-latin_cyrillic-500.svg#Roboto")
      format("svg");
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto//roboto-v20-latin_cyrillic-700.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/roboto//roboto-v20-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto//roboto-v20-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/roboto//roboto-v20-latin_cyrillic-700.woff") format("woff"),
    url("../fonts/roboto//roboto-v20-latin_cyrillic-700.ttf") format("truetype"),
    url("../fonts/roboto//roboto-v20-latin_cyrillic-700.svg#Roboto")
      format("svg");
}

/* font-family: "Raleway", sans-serif; */

:root {
  --main-text-cl: #757575;
  --link-text-cl: #2196f3;
  --black-text: #212121;
  --second-fon: #f5f4fa;
  --wight-text: #ffffff;
  --cellar-fon: #2f303a;
  --team-fon: #f5f4fa;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.2em;
  color: var(--main-text-cl);
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
}

img {
  display: block;
  /* max-width: 100px; */
  height: auto;
}

.had {
  background-color: var(--wight-text);
}

.container {
  width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-nav {
  display: inline-flex;
}

.nav .link.current {
  color: var(--link-text-cl);
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.logo-second {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo-container {
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;
}

.nav {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--black-text);
  text-decoration: none;
  list-style: none;

  display: flex;
  align-items: center;
}

.cotacts-nav {
  color: var(--main-text-cl);

  margin-left: auto;
}

.cotacts-nav .link + .link {
  margin-left: 30px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--link-text-cl);
}

.menu-nav {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: inline-flex;
  padding-left: 0px;
}

.menu-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.container-hero {
  width: 1600px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero {
  text-align: center;
  margin-bottom: 94px;
  height: 600px;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 452px;
  margin-right: 452px;
  padding-top: 200px;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--wight-text);
  width: 696px;
}

.btn-port {
  background: var(--second-fon);
  width: 73px;
  padding-right: 22px;
  padding-left: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--black-text);
  margin-top: 30px;
  margin-bottom: 10px;
}

.btn {
  display: block;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--wight-text);
  background: var(--link-text-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  width: 200px;
  margin-bottom: 200px;
  margin-left: 700px;
  margin-right: 700px;
}

.btn-position {
  padding-bottom: 210px;
}

.btn-content {
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-cl);
  border-radius: 4px;
}

.nav-content {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  align-items: center;
}

.element-cont {
  margin-right: 30px;
  margin-bottom: 30px;
}

.container-content {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-fillihg {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-bottom: 94px;
}

.element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.element:nth-child(3n) {
  margin-right: 0;
}

.element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.features-section {
  list-style: none;
}

.item-features {
  width: 270px;
}

.container-features img {
  margin-bottom: 55px;
}

.container-features {
  display: inline-flex;
  margin: 0;
  list-style: none;
}

.container-features p {
  margin-bottom: 0;
  margin-top: 0;
}

.section-features {
  background-color: var(--wight-text);
  margin-bottom: 94px;
}

.title-section-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-text);

  margin-bottom: 10px;
}

.container-activity {
  display: inline-flex;
}

.contsiner-activity {
  margin-top: 0px;
  margin-bottom: 94px;
}

.container-activity img {
  margin-right: 30px;
}

.container-activity img:nth-child(3n) {
  margin-right: 0;
}

.section-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);

  margin-bottom: 50px;
}

.container-time {
  display: inline-flex;
}

.team-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);

  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team {
  background-color: var(--team-fon);
  margin-top: 0px;
  margin-bottom: 94px;
}

.team h4 {
  padding-top: 94px;
}

.team p {
  display: block;
  margin-top: 0;
  text-align: center;
  margin-bottom: 28px;
}

.conainer-time-item {
  margin-right: 30px;
  margin-bottom: 94px;
}

.conainer-time-item:nth-child(4n) {
  margin-right: 0;
}

.partners-section {
  margin-bottom: 94px;
}

.container-partners {
}

.container-partners {
  display: inline-flex;
  margin-top: 0;
  list-style: none;
  margin-bottom: 0;
}
.container-partners img {
  margin-right: 30px;
}

.container-partners img:nth-child(3n) {
  margin-right: 0;
}

.cellar {
  background-color: var(--cellar-fon);
  display: block;
}

.container-contacts {
  flex-wrap: wrap-reverse;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-cellar {
  margin-bottom: 20px;
  padding-top: 60px;
}

.footer-logo-second {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-map {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  color: var(--wight-text);
}

.footer-social {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wight-text);
}
